:host {
  display: flex;
  justify-content: center;
}

.images-container {
  width: 1500px;
}

.images {
  display: flex;
  justify-content: space-between;
}

.images-container img {
  width: 20vw;
  height: 18vh;
  object-fit: cover;
}

.working-area-container {
  width: 100%;
  background-color: darksalmon;
}

#working-area-image-container {
  width: 800px;
  height: 600px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  background-color: darkorchid;
}
