:host {
  display: flex;
  justify-content: center;
}

.images-container {
  width: 1500px;
}

.images {
  display: flex;
  justify-content: space-between;
}

.image-container {
  /* display: flex;
  justify-content: center; */
  /* width: 20vw;
  height: 25vh; */
}

.image-container img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.working-area-container {
  width: 100%;
  background-color: darksalmon;
}

#canvas {
  /* width: 800px;
  height: 600px; */
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  background-color: darkorchid;
}
