<div class="images-container">
  <div class="images">
    <div class="image-container">
      <img id="1" (click)="addImage($event)" src="assets/images/charles-deluvio-kCpGrE0G8NE-unsplash.jpg">
    </div>
    <div class="image-container">
      <img id="2" (click)="addImage($event)" src="assets/images/mika-7gQQnbGl8Io-unsplash.jpg">
    </div>
    <div class="image-container">
      <img id="3" (click)="addImage($event)" src="assets/images/xps-g2E2NQ5SWSU-unsplash.jpg">
    </div>
  </div>
  <div class="working-area-container">
    <canvas id="working-area-image-container">
    </canvas>
    <div class="button-container">
      <button (click)="blackAndWhite()">Black and white</button>
      <button (click)="invert()">Invert</button>
    </div>
  </div>
</div>
